# DATA CLEANING AND DATA PREPARATION

### Importing libraries

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

### Loading Data

In [4]:
pd.read_table("C:\\Users\\uzing\\Desktop\\dashboard\\mortality_data", sep=",")

C:\Users\uzing\AppData\Local\Temp\ipykernel_13460\2025076236.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_table("C:\\Users\\uzing\\Desktop\\dashboard\\mortality_data", sep=",")

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,4303,NaN,NaN,2017,101,1000,1,1,8,281784,...,43174.0,29856.0,29184.0,NaN,NaN,68.0,1608.0,NaN,NaN,NaN
1,4303,NaN,NaN,2017,101,1000,2,1,8,292339,...,56037.0,52655.0,88271.0,NaN,NaN,19.0,1178.0,NaN,NaN,NaN
2,4303,NaN,NaN,2017,101,1001,1,1,8,6198,...,62.0,36.0,15.0,NaN,NaN,1.0,41.0,NaN,NaN,NaN
3,4303,NaN,NaN,2017,101,1001,2,1,8,2516,...,86.0,45.0,29.0,NaN,NaN,0.0,29.0,NaN,NaN,NaN
4,4303,NaN,NaN,2017,101,1002,1,1,8,0,...,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811503,5020,NaN,NaN,2021,104,Y871,2,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
811504,5020,NaN,NaN,2021,104,Y872,1,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
811505,5020,NaN,NaN,2021,104,Y880,1,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
811506,5020,NaN,NaN,2021,104,Y883,1,0,1,3,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
811507,5020,NaN,NaN,2021,104,Y883,2,0,1,5,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df=pd.read_table("C:\\Users\\uzing\\Desktop\\dashboard\\mortality_data", sep=",")

C:\Users\uzing\AppData\Local\Temp\ipykernel_13460\3352607653.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_table("C:\\Users\\uzing\\Desktop\\dashboard\\mortality_data", sep=",")

### Data Cleaning

In [6]:
df.drop(columns=["Deaths2","Deaths3","Deaths4","Deaths5","Deaths6","Deaths7","Deaths8","Deaths9","Deaths10"], inplace=True)

In [7]:
df.drop(columns=["Deaths11","Deaths12","Deaths13","Deaths14","Deaths15","Deaths16","Deaths17","Deaths18","Deaths19"], inplace=True)

In [8]:
df.drop(columns=["Deaths21","Deaths22","Deaths23","Deaths24","Deaths25","Deaths26","Deaths20"], inplace=True)

In [9]:
df.drop(columns=["IM_Deaths1","IM_Deaths2","IM_Deaths3","IM_Deaths4","IM_Frmat","Frmat"], inplace=True)

In [10]:
df.drop(columns=["Admin1","SubDiv"], inplace=True)

In [11]:
df["Cause"]=df["Cause"].astype("string")

In [12]:
df["List"]=df["List"].astype("string")

In [13]:
df["Sex"]=df["Sex"].replace({"male":1 , "female":0})

In [14]:
df["Sex"]=df["Sex"].replace({1:"male" , 2:"female"})

In [15]:
df["Sex"]=df["Sex"].astype("string")

### Getting country codes from Country Codes dataset

In [16]:
df2=pd.read_table("C:\\Users\\uzing\\Desktop\\dashboard\\Country_codes", sep=",")

In [17]:
country_codes=((df2["name"]=="France")|(df2["name"]=="United States of America")|(df2["name"]=="EU-5")\
               |(df2["name"]=="Germany")|(df2["name"]=="Italy")\
               |(df2["name"]=="Spain")|(df2["name"]=="United Kingdom")|(df2["name"]=="Other")\
               |(df2["name"]=="Argentina")|(df2["name"]=="Brazil")\
               |(df2["name"]=="Israel")|(df2["name"]=="Japan")\
               |(df2["name"]=="Taiwan")|(df2["name"]=="Turkey")
              )

In [18]:
df2.loc[country_codes]

     country                      name
60      2020                 Argentina
67      2070                    Brazil
104     2450  United States of America
123     3150                    Israel
124     3160                     Japan
147     3400                    Turkey
166     4080                    France
168     4085                   Germany
176     4180                     Italy
197     4280                     Spain
204     4308            United Kingdom

### Getting the total number of deaths for each disease.

In [19]:
USA=df[df["Country"]==2450]

In [20]:
GM2_USA = USA[ (USA["Cause"] == "E750") |(USA["Cause"] == "E7500")\
                   |(USA["Cause"] == "E7501")|(USA["Cause"] == "E7502")\
                  |(USA["Cause"] == "E7509")]

In [21]:
GM2_USA.Deaths1.sum()

66

In [22]:
PN_USA=USA [(USA["Cause"]=="L281")]

In [23]:
PN_USA.Deaths1.sum()

0

In [24]:
CKD_USA=USA[(USA["Cause"]=="N181")|(USA["Cause"]=="N182")\
           |(USA["Cause"]=="N183")|(USA["Cause"]=="N184")]

In [25]:
CKD_USA.Deaths1.sum()

6621

In [26]:
LiverDisease_USA= USA[(USA["Cause"]=="I2601")|(USA["Cause"]=="I2609")\
                     |(USA["Cause"]=="I2693")|(USA["Cause"]=="I2694")\
                     |(USA["Cause"]=="I260")|(USA["Cause"]=="I2602")\
                     |(USA["Cause"]=="I269")|(USA["Cause"]=="I2690")\
                     |(USA["Cause"]=="I2692")|(USA["Cause"]=="I2699")\
                     |(USA["Cause"]=="I26")
                     ]

In [27]:
LiverDisease_USA.Deaths1.sum()

35520

In [28]:
Asthma_USA=USA[(USA["Cause"]=="J441")|(USA["Cause"]=="J449")\
              |(USA["Cause"]=="J4532")|(USA["Cause"]=="J4552")\
              |(USA["Cause"]=="J4531")|(USA["Cause"]=="J4550")\
              |(USA["Cause"]=="J45901")|(USA["Cause"]=="J45990")\
              |(USA["Cause"]=="J440")|(USA["Cause"]=="J4542")\
              |(USA["Cause"]=="J45902")|(USA["Cause"]=="J45991")\
              |(USA["Cause"]=="J4520")|(USA["Cause"]=="J4521")\
              |(USA["Cause"]=="J45998")|(USA["Cause"]=="J4530")\
              |(USA["Cause"]=="J4540")|(USA["Cause"]=="J4541")\
              |(USA["Cause"]=="J4551")|(USA["Cause"]=="J45909")\
              |(USA["Cause"]=="J4522")]

In [29]:
Asthma_USA.Deaths1.sum()

574416

In [30]:
FRA=df[df["Country"]==4080]

In [31]:
GM2_FRA = FRA[ (FRA["Cause"] == "E750") |(FRA["Cause"] == "E7500")\
                   |(FRA["Cause"] == "E7501")|(FRA["Cause"] == "E7502")\
                  |(FRA["Cause"] == "E7509")]

In [32]:
GM2_FRA.Deaths1.sum()

4

In [33]:
PN_FRA=FRA [(FRA["Cause"]=="L281")]

In [34]:
PN_FRA.Deaths1.sum()

0

In [35]:
CKD_FRA=FRA[(FRA["Cause"]=="N181")|(FRA["Cause"]=="N182")\
           |(FRA["Cause"]=="N183")|(FRA["Cause"]=="N184")]

In [36]:
CKD_FRA.Deaths1.sum()

93

In [37]:
LiverDisease_FRA= FRA[(FRA["Cause"]=="I2601")|(FRA["Cause"]=="I2609")\
                     |(FRA["Cause"]=="I2693")|(FRA["Cause"]=="I2694")\
                     |(FRA["Cause"]=="I260")|(FRA["Cause"]=="I2602")\
                     |(FRA["Cause"]=="I269")|(FRA["Cause"]=="I2690")\
                     |(FRA["Cause"]=="I2692")|(FRA["Cause"]=="I2699")\
                     |(FRA["Cause"]=="I26")
                     ]

In [38]:
LiverDisease_FRA.Deaths1.sum()

3203

In [39]:
Asthma_FRA=FRA[(FRA["Cause"]=="J441")|(FRA["Cause"]=="J449")\
              |(FRA["Cause"]=="J4532")|(FRA["Cause"]=="J4552")\
              |(FRA["Cause"]=="J4531")|(FRA["Cause"]=="J4550")\
              |(FRA["Cause"]=="J45901")|(FRA["Cause"]=="J45990")\
              |(FRA["Cause"]=="J440")|(FRA["Cause"]=="J4542")\
              |(FRA["Cause"]=="J45902")|(FRA["Cause"]=="J45991")\
              |(FRA["Cause"]=="J4520")|(FRA["Cause"]=="J4521")\
              |(FRA["Cause"]=="J45998")|(FRA["Cause"]=="J4530")\
              |(FRA["Cause"]=="J4540")|(FRA["Cause"]=="J4541")\
              |(FRA["Cause"]=="J4551")|(FRA["Cause"]=="J45909")\
              |(FRA["Cause"]=="J4522")]

In [40]:
Asthma_FRA.Deaths1.sum()

8497

In [41]:
GMR=df[df["Country"]==4085]

In [42]:
GM2_GMR = GMR[ (GMR["Cause"] == "E750") |(GMR["Cause"] == "E7500")\
                   |(GMR["Cause"] == "E7501")|(GMR["Cause"] == "E7502")\
                  |(GMR["Cause"] == "E7509")]

In [43]:
GM2_GMR.Deaths1.sum()

14

In [44]:
PN_GMR=GMR [(GMR["Cause"]=="L281")]

In [45]:
PN_GMR.Deaths1.sum()

2

In [46]:
CKD_GMR=GMR[(GMR["Cause"]=="N181")|(GMR["Cause"]=="N182")\
           |(GMR["Cause"]=="N183")|(GMR["Cause"]=="N184")]

In [47]:
CKD_GMR.Deaths1.sum()

3894

In [48]:
LiverDisease_GMR= GMR[(GMR["Cause"]=="I2601")|(GMR["Cause"]=="I2609")\
                     |(GMR["Cause"]=="I2693")|(GMR["Cause"]=="I2694")\
                     |(GMR["Cause"]=="I260")|(GMR["Cause"]=="I2602")\
                     |(GMR["Cause"]=="I269")|(GMR["Cause"]=="I2690")\
                     |(GMR["Cause"]=="I2692")|(GMR["Cause"]=="I2699")\
                     |(GMR["Cause"]=="I26")
                     ]

In [49]:
LiverDisease_GMR.Deaths1.sum()

20191

In [50]:
Asthma_GMR=GMR[(GMR["Cause"]=="J441")|(GMR["Cause"]=="J449")\
              |(GMR["Cause"]=="J4532")|(GMR["Cause"]=="J4552")\
              |(GMR["Cause"]=="J4531")|(GMR["Cause"]=="J4550")\
              |(GMR["Cause"]=="J45901")|(GMR["Cause"]=="J45990")\
              |(GMR["Cause"]=="J440")|(GMR["Cause"]=="J4542")\
              |(GMR["Cause"]=="J45902")|(GMR["Cause"]=="J45991")\
              |(GMR["Cause"]=="J4520")|(GMR["Cause"]=="J4521")\
              |(GMR["Cause"]=="J45998")|(GMR["Cause"]=="J4530")\
              |(GMR["Cause"]=="J4540")|(GMR["Cause"]=="J4541")\
              |(GMR["Cause"]=="J4551")|(GMR["Cause"]=="J45909")\
              |(GMR["Cause"]=="J4522")]

In [51]:
Asthma_GMR.Deaths1.sum()

122387

In [52]:
ITA=df[df["Country"]==4180]

In [53]:
Asthma_ITA=ITA[(ITA["Cause"]=="J441")|(ITA["Cause"]=="J449")\
              |(ITA["Cause"]=="J4532")|(ITA["Cause"]=="J4552")\
              |(ITA["Cause"]=="J4531")|(ITA["Cause"]=="J4550")\
              |(ITA["Cause"]=="J45901")|(ITA["Cause"]=="J45990")\
              |(ITA["Cause"]=="J440")|(ITA["Cause"]=="J4542")\
              |(ITA["Cause"]=="J45902")|(ITA["Cause"]=="J45991")\
              |(ITA["Cause"]=="J4520")|(ITA["Cause"]=="J4521")\
              |(ITA["Cause"]=="J45998")|(ITA["Cause"]=="J4530")\
              |(ITA["Cause"]=="J4540")|(ITA["Cause"]=="J4541")\
              |(ITA["Cause"]=="J4551")|(ITA["Cause"]=="J45909")\
              |(ITA["Cause"]=="J4522")]

In [54]:
Asthma_ITA.Deaths1.sum()

21477

In [55]:
LiverDisease_ITA= ITA[(ITA["Cause"]=="I2601")|(ITA["Cause"]=="I2609")\
                     |(ITA["Cause"]=="I2693")|(ITA["Cause"]=="I2694")\
                     |(ITA["Cause"]=="I260")|(ITA["Cause"]=="I2602")\
                     |(ITA["Cause"]=="I269")|(ITA["Cause"]=="I2690")\
                     |(ITA["Cause"]=="I2692")|(ITA["Cause"]=="I2699")\
                     |(ITA["Cause"]=="I26")
                     ]

In [56]:
LiverDisease_ITA.Deaths1.sum()

4443

In [57]:
CKD_ITA=ITA[(ITA["Cause"]=="N181")|(ITA["Cause"]=="N182")\
           |(ITA["Cause"]=="N183")|(ITA["Cause"]=="N184")]

In [58]:
CKD_ITA.Deaths1.sum()

416

In [59]:
GM2_ITA =ITA[(ITA["Cause"] == "E750") |(ITA["Cause"] == "E7500")\
                |(ITA["Cause"] == "E7501")|(ITA["Cause"] == "E7502")\
                |(ITA["Cause"] == "E7509")]

In [60]:
GM2_ITA.Deaths1.sum()

5

In [61]:
PN_ITA=ITA [(ITA["Cause"]=="L281")]

In [62]:
PN_ITA.Deaths1.sum()

0

In [63]:
ESP=df[df["Country"]== 4280]

In [64]:
PN_ESP=ESP [(ESP["Cause"]=="L281")]

In [65]:
PN_ESP.Deaths1.sum()

0

In [66]:
GM2_ESP =ESP[(ESP["Cause"] == "E750") |(ESP["Cause"] == "E7500")\
                |(ESP["Cause"] == "E7501")|(ESP["Cause"] == "E7502")\
                |(ESP["Cause"] == "E7509")]

In [67]:
GM2_ESP.Deaths1.sum()

13

In [68]:
CKD_ESP=ESP[(ESP["Cause"]=="N181")|(ESP["Cause"]=="N182")\
           |(ESP["Cause"]=="N183")|(ESP["Cause"]=="N184")]

In [69]:
CKD_ESP.Deaths1.sum()

1024

In [70]:
LiverDisease_ESP= ESP[(ESP["Cause"]=="I2601")|(ESP["Cause"]=="I2609")\
                     |(ESP["Cause"]=="I2693")|(ESP["Cause"]=="I2694")\
                     |(ESP["Cause"]=="I260")|(ESP["Cause"]=="I2602")\
                     |(ESP["Cause"]=="I269")|(ESP["Cause"]=="I2690")\
                     |(ESP["Cause"]=="I2692")|(ESP["Cause"]=="I2699")\
                     |(ESP["Cause"]=="I26")
                     ]

In [71]:
LiverDisease_ESP.Deaths1.sum()

10319

In [72]:
Asthma_ESP=ESP[(ESP["Cause"]=="J441")|(ESP["Cause"]=="J449")\
              |(ESP["Cause"]=="J4532")|(ESP["Cause"]=="J4552")\
              |(ESP["Cause"]=="J4531")|(ESP["Cause"]=="J4550")\
              |(ESP["Cause"]=="J45901")|(ESP["Cause"]=="J45990")\
              |(ESP["Cause"]=="J440")|(ESP["Cause"]=="J4542")\
              |(ESP["Cause"]=="J45902")|(ESP["Cause"]=="J45991")\
              |(ESP["Cause"]=="J4520")|(ESP["Cause"]=="J4521")\
              |(ESP["Cause"]=="J45998")|(ESP["Cause"]=="J4530")\
              |(ESP["Cause"]=="J4540")|(ESP["Cause"]=="J4541")\
              |(ESP["Cause"]=="J4551")|(ESP["Cause"]=="J45909")\
              |(ESP["Cause"]=="J4522")]

In [73]:
Asthma_ESP.Deaths1.sum()

50681

In [74]:
UK=df[df["Country"]==4308]

In [75]:
Asthma_UK=UK[(UK["Cause"]=="J441")|(UK["Cause"]=="J449")\
              |(UK["Cause"]=="J4532")|(UK["Cause"]=="J4552")\
              |(UK["Cause"]=="J4531")|(UK["Cause"]=="J4550")\
              |(UK["Cause"]=="J45901")|(UK["Cause"]=="J45990")\
              |(UK["Cause"]=="J440")|(UK["Cause"]=="J4542")\
              |(UK["Cause"]=="J45902")|(UK["Cause"]=="J45991")\
              |(UK["Cause"]=="J4520")|(UK["Cause"]=="J4521")\
              |(UK["Cause"]=="J45998")|(UK["Cause"]=="J4530")\
              |(UK["Cause"]=="J4540")|(UK["Cause"]=="J4541")\
              |(UK["Cause"]=="J4551")|(UK["Cause"]=="J45909")\
              |(UK["Cause"]=="J4522")]

In [76]:
Asthma_UK.Deaths1.sum()

119777

In [77]:
LiverDisease_UK= UK[(UK["Cause"]=="I2601")|(UK["Cause"]=="I2609")\
                     |(UK["Cause"]=="I2693")|(UK["Cause"]=="I2694")\
                     |(UK["Cause"]=="I260")|(UK["Cause"]=="I2602")\
                     |(UK["Cause"]=="I269")|(UK["Cause"]=="I2690")\
                     |(UK["Cause"]=="I2692")|(UK["Cause"]=="I2699")\
                     |(UK["Cause"]=="I26")
                     ]

In [78]:
LiverDisease_UK.Deaths1.sum()

10196

In [79]:
CKD_UK=UK[(UK["Cause"]=="N181")|(UK["Cause"]=="N182")\
           |(UK["Cause"]=="N183")|(UK["Cause"]=="N184")]

In [80]:
CKD_UK.Deaths1.sum()

850

In [81]:
GM2_UK =UK[(UK["Cause"] == "E750") |(UK["Cause"] == "E7500")\
                |(UK["Cause"] == "E7501")|(UK["Cause"] == "E7502")\
                |(UK["Cause"] == "E7509")]

In [82]:
GM2_UK.Deaths1.sum()

16

In [83]:
PN_UK=UK [(UK["Cause"]=="L281")]

In [84]:
PN_UK.Deaths1.sum()

4

In [85]:
ARG=df[df["Country"]==2020]

In [86]:
PN_ARG=ARG [(ARG["Cause"]=="L281")]

In [87]:
PN_ARG.Deaths1.sum()

1

In [88]:
GM2_ARG =ARG[(ARG["Cause"] == "E750") |(ARG["Cause"] == "E7500")\
                |(ARG["Cause"] == "E7501")|(ARG["Cause"] == "E7502")\
                |(ARG["Cause"] == "E7509")]

In [89]:
GM2_ARG.Deaths1.sum()

21

In [90]:
CKD_ARG=ARG[(ARG["Cause"]=="N181")|(ARG["Cause"]=="N182")\
           |(ARG["Cause"]=="N183")|(ARG["Cause"]=="N184")]

In [91]:
CKD_ARG.Deaths1.sum()

31

In [92]:
LiverDisease_ARG= ARG[(ARG["Cause"]=="I2601")|(ARG["Cause"]=="I2609")\
                     |(ARG["Cause"]=="I2693")|(ARG["Cause"]=="I2694")\
                     |(ARG["Cause"]=="I260")|(ARG["Cause"]=="I2602")\
                     |(ARG["Cause"]=="I269")|(ARG["Cause"]=="I2690")\
                     |(ARG["Cause"]=="I2692")|(ARG["Cause"]=="I2699")\
                     |(ARG["Cause"]=="I26")
                     ]

In [93]:
LiverDisease_ARG.Deaths1.sum()

5773

In [94]:
Asthma_ARG=ARG[(ARG["Cause"]=="J441")|(ARG["Cause"]=="J449")\
              |(ARG["Cause"]=="J4532")|(ARG["Cause"]=="J4552")\
              |(ARG["Cause"]=="J4531")|(ARG["Cause"]=="J4550")\
              |(ARG["Cause"]=="J45901")|(ARG["Cause"]=="J45990")\
              |(ARG["Cause"]=="J440")|(ARG["Cause"]=="J4542")\
              |(ARG["Cause"]=="J45902")|(ARG["Cause"]=="J45991")\
              |(ARG["Cause"]=="J4520")|(ARG["Cause"]=="J4521")\
              |(ARG["Cause"]=="J45998")|(ARG["Cause"]=="J4530")\
              |(ARG["Cause"]=="J4540")|(ARG["Cause"]=="J4541")\
              |(ARG["Cause"]=="J4551")|(ARG["Cause"]=="J45909")\
              |(ARG["Cause"]=="J4522")]

In [95]:
Asthma_ARG.Deaths1.sum()

22728

In [96]:
BR=df[df["Country"]==2070]

In [97]:
Asthma_BR=BR[(BR["Cause"]=="J441")|(BR["Cause"]=="J449")\
              |(BR["Cause"]=="J4532")|(BR["Cause"]=="J4552")\
              |(BR["Cause"]=="J4531")|(BR["Cause"]=="J4550")\
              |(BR["Cause"]=="J45901")|(BR["Cause"]=="J45990")\
              |(BR["Cause"]=="J440")|(BR["Cause"]=="J4542")\
              |(BR["Cause"]=="J45902")|(BR["Cause"]=="J45991")\
              |(BR["Cause"]=="J4520")|(BR["Cause"]=="J4521")\
              |(BR["Cause"]=="J45998")|(BR["Cause"]=="J4530")\
              |(BR["Cause"]=="J4540")|(BR["Cause"]=="J4541")\
              |(BR["Cause"]=="J4551")|(BR["Cause"]=="J45909")\
              |(BR["Cause"]=="J4522")]

In [98]:
Asthma_BR.Deaths1.sum()

150582

In [99]:
LiverDisease_BR= BR[(BR["Cause"]=="I2601")|(BR["Cause"]=="I2609")\
                     |(BR["Cause"]=="I2693")|(BR["Cause"]=="I2694")\
                     |(BR["Cause"]=="I260")|(BR["Cause"]=="I2602")\
                     |(BR["Cause"]=="I269")|(BR["Cause"]=="I2690")\
                     |(BR["Cause"]=="I2692")|(BR["Cause"]=="I2699")\
                     |(BR["Cause"]=="I26")
                     ]

In [100]:
LiverDisease_BR.Deaths1.sum()

26765

In [101]:
CKD_BR=BR[(BR["Cause"]=="N181")|(BR["Cause"]=="N182")\
           |(BR["Cause"]=="N183")|(BR["Cause"]=="N184")]

In [102]:
CKD_BR.Deaths1.sum()

0

In [103]:
GM2_BR =BR[(BR["Cause"] == "E750") |(BR["Cause"] == "E7500")\
                |(BR["Cause"] == "E7501")|(BR["Cause"] == "E7502")\
                |(BR["Cause"] == "E7509")]

In [104]:
GM2_BR.Deaths1.sum()

31

In [105]:
PN_BR=BR [(BR["Cause"]=="L281")]

In [106]:
PN_BR.Deaths1.sum()

0

In [107]:
ISR=df[df["Country"]==3150]

In [108]:
PN_ISR=ISR [(ISR["Cause"]=="L281")]

In [109]:
PN_ISR.Deaths1.sum()

0

In [110]:
GM2_ISR =ISR[(ISR["Cause"] == "E750") |(ISR["Cause"] == "E7500")\
                |(ISR["Cause"] == "E7501")|(ISR["Cause"] == "E7502")\
                |(ISR["Cause"] == "E7509")]

In [111]:
GM2_ISR.Deaths1.sum()

5

In [112]:
CKD_ISR=ISR[(ISR["Cause"]=="N181")|(ISR["Cause"]=="N182")\
           |(ISR["Cause"]=="N183")|(ISR["Cause"]=="N184")]

In [113]:
CKD_ISR.Deaths1.sum()

12

In [114]:
LiverDisease_ISR= ISR[(ISR["Cause"]=="I2601")|(ISR["Cause"]=="I2609")\
                     |(ISR["Cause"]=="I2693")|(ISR["Cause"]=="I2694")\
                     |(ISR["Cause"]=="I260")|(ISR["Cause"]=="I2602")\
                     |(ISR["Cause"]=="I269")|(ISR["Cause"]=="I2690")\
                     |(ISR["Cause"]=="I2692")|(ISR["Cause"]=="I2699")\
                     |(ISR["Cause"]=="I26")
                     ]

In [115]:
LiverDisease_ISR.Deaths1.sum()

537

In [116]:
Asthma_ISR=ISR[(ISR["Cause"]=="J441")|(ISR["Cause"]=="J449")\
              |(ISR["Cause"]=="J4532")|(ISR["Cause"]=="J4552")\
              |(ISR["Cause"]=="J4531")|(ISR["Cause"]=="J4550")\
              |(ISR["Cause"]=="J45901")|(ISR["Cause"]=="J45990")\
              |(ISR["Cause"]=="J440")|(ISR["Cause"]=="J4542")\
              |(ISR["Cause"]=="J45902")|(ISR["Cause"]=="J45991")\
              |(ISR["Cause"]=="J4520")|(ISR["Cause"]=="J4521")\
              |(ISR["Cause"]=="J45998")|(ISR["Cause"]=="J4530")\
              |(ISR["Cause"]=="J4540")|(ISR["Cause"]=="J4541")\
              |(ISR["Cause"]=="J4551")|(ISR["Cause"]=="J45909")\
              |(ISR["Cause"]=="J4522")]

In [117]:
Asthma_ISR.Deaths1.sum()

4513

In [118]:
JPN=df[df["Country"]==3160]

In [119]:
Asthma_JPN=JPN[(JPN["Cause"]=="J441")|(JPN["Cause"]=="J449")\
              |(JPN["Cause"]=="J4532")|(JPN["Cause"]=="J4552")\
              |(JPN["Cause"]=="J4531")|(JPN["Cause"]=="J4550")\
              |(JPN["Cause"]=="J45901")|(JPN["Cause"]=="J45990")\
              |(JPN["Cause"]=="J440")|(JPN["Cause"]=="J4542")\
              |(JPN["Cause"]=="J45902")|(JPN["Cause"]=="J45991")\
              |(JPN["Cause"]=="J4520")|(JPN["Cause"]=="J4521")\
              |(JPN["Cause"]=="J45998")|(JPN["Cause"]=="J4530")\
              |(JPN["Cause"]=="J4540")|(JPN["Cause"]=="J4541")\
              |(JPN["Cause"]=="J4551")|(JPN["Cause"]=="J45909")\
              |(JPN["Cause"]=="J4522")]

In [120]:
Asthma_JPN.Deaths1.sum()

37624

In [121]:
LiverDisease_JPN= JPN[(JPN["Cause"]=="I2601")|(JPN["Cause"]=="I2609")\
                     |(JPN["Cause"]=="I2693")|(JPN["Cause"]=="I2694")\
                     |(JPN["Cause"]=="I260")|(JPN["Cause"]=="I2602")\
                     |(JPN["Cause"]=="I269")|(JPN["Cause"]=="I2690")\
                     |(JPN["Cause"]=="I2692")|(JPN["Cause"]=="I2699")\
                     |(JPN["Cause"]=="I26")
                     ]

In [122]:
LiverDisease_JPN.Deaths1.sum()

6206

In [123]:
CKD_JPN=JPN[(JPN["Cause"]=="N181")|(JPN["Cause"]=="N182")\
           |(JPN["Cause"]=="N183")|(JPN["Cause"]=="N184")]

In [124]:
CKD_JPN.Deaths1.sum()

30

In [125]:
GM2_JPN =JPN[(JPN["Cause"] == "E750") |(JPN["Cause"] == "E7500")\
                |(JPN["Cause"] == "E7501")|(JPN["Cause"] == "E7502")\
                |(JPN["Cause"] == "E7509")]

In [126]:
GM2_JPN.Deaths1.sum()

7

In [127]:
PN_JPN=JPN [(JPN["Cause"]=="L281")]

In [128]:
PN_JPN.Deaths1.sum()

0

In [129]:
TUR=df[df["Country"]==3400]

In [130]:
PN_TUR=TUR [(TUR["Cause"]=="L281")]

In [131]:
PN_TUR.Deaths1.sum()

0

In [132]:
GM2_TUR =TUR[(TUR["Cause"] == "E750") |(TUR["Cause"] == "E7500")\
                |(TUR["Cause"] == "E7501")|(TUR["Cause"] == "E7502")\
                |(TUR["Cause"] == "E7509")]

In [133]:
GM2_TUR.Deaths1.sum()

13

In [134]:
CKD_TUR=TUR[(TUR["Cause"]=="N181")|(TUR["Cause"]=="N182")\
           |(TUR["Cause"]=="N183")|(TUR["Cause"]=="N184")]

In [135]:
CKD_TUR.Deaths1.sum()

0

In [136]:
LiverDisease_TUR= TUR[(TUR["Cause"]=="I2601")|(TUR["Cause"]=="I2609")\
                     |(TUR["Cause"]=="I2693")|(TUR["Cause"]=="I2694")\
                     |(TUR["Cause"]=="I260")|(TUR["Cause"]=="I2602")\
                     |(TUR["Cause"]=="I269")|(TUR["Cause"]=="I2690")\
                     |(TUR["Cause"]=="I2692")|(TUR["Cause"]=="I2699")\
                     |(TUR["Cause"]=="I26")
                     ]

In [137]:
LiverDisease_TUR.Deaths1.sum()

6032

In [138]:
Asthma_TUR=TUR[(TUR["Cause"]=="J441")|(TUR["Cause"]=="J449")\
              |(TUR["Cause"]=="J4532")|(TUR["Cause"]=="J4552")\
              |(TUR["Cause"]=="J4531")|(TUR["Cause"]=="J4550")\
              |(TUR["Cause"]=="J45901")|(TUR["Cause"]=="J45990")\
              |(TUR["Cause"]=="J440")|(TUR["Cause"]=="J4542")\
              |(TUR["Cause"]=="J45902")|(TUR["Cause"]=="J45991")\
              |(TUR["Cause"]=="J4520")|(TUR["Cause"]=="J4521")\
              |(TUR["Cause"]=="J45998")|(TUR["Cause"]=="J4530")\
              |(TUR["Cause"]=="J4540")|(TUR["Cause"]=="J4541")\
              |(TUR["Cause"]=="J4551")|(TUR["Cause"]=="J45909")\
              |(TUR["Cause"]=="J4522")]

In [139]:
Asthma_TUR.Deaths1.sum()

65603

### Getting the total deaths of Asthma for each gender

In [140]:
Asthma_TURF=Asthma_TUR[Asthma_TUR["Sex"]=="female"]

In [141]:
Asthma_TURF

        Country  Year List Cause     Sex  Deaths1
177402     3400  2019  104  J440  female     2889
177404     3400  2019  104  J441  female     1080
177408     3400  2019  104  J449  female     3516
625090     3400  2018  104  J440  female     3148
625092     3400  2018  104  J441  female      898
625096     3400  2018  104  J449  female     3674
629965     3400  2017  104  J440  female     3247
629967     3400  2017  104  J441  female      867
629971     3400  2017  104  J449  female     3765

In [142]:
Asthma_TURF.Deaths1.sum()

23084

In [143]:
Asthma_TURM=Asthma_TUR[Asthma_TUR["Sex"]=="male"]

In [144]:
Asthma_TURM.Deaths1.sum()

42519

In [145]:
Asthma_USAM=Asthma_USA[Asthma_USA["Sex"]=="male"]

In [146]:
Asthma_USAM.Deaths1.sum()

271719

In [147]:
Asthma_USAF=Asthma_USA[Asthma_USA["Sex"]=="female"]

In [148]:
Asthma_USAF.Deaths1.sum()

302697

In [149]:
Asthma_FRAM=Asthma_FRA[Asthma_FRA["Sex"]=="male"]

In [150]:
Asthma_FRAM.Deaths1.sum()

5263

In [151]:
Asthma_FRAF=Asthma_FRA[Asthma_FRA["Sex"]=="female"]

In [152]:
Asthma_FRAF.Deaths1.sum()

3234

In [153]:
Asthma_GMRM=Asthma_GMR[Asthma_GMR["Sex"]=="male"]

In [154]:
Asthma_GMRM.Deaths1.sum()

66419

In [155]:
Asthma_GMRF=Asthma_GMR[Asthma_GMR["Sex"]=="female"]

In [156]:
Asthma_GMRF.Deaths1.sum()

55968

In [157]:
Asthma_ITAF=Asthma_ITA[Asthma_ITA["Sex"]=="female"]

In [158]:
Asthma_ITAF.Deaths1.sum()

9022

In [159]:
Asthma_ITAM=Asthma_ITA[Asthma_ITA["Sex"]=="male"]

In [160]:
Asthma_ITAM.Deaths1.sum()

12455

In [161]:
Asthma_ESPM=Asthma_ESP[Asthma_ESP["Sex"]=="male"]

In [162]:
Asthma_ESPM.Deaths1.sum()

39838

In [163]:
Asthma_ESPF=Asthma_ESP[Asthma_ESP["Sex"]=="female"]

In [164]:
Asthma_ESPF.Deaths1.sum()

10843

In [165]:
Asthma_UKM=Asthma_UK[Asthma_UK["Sex"]=="male"]

In [166]:
Asthma_UKM.Deaths1.sum()

60143

In [167]:
Asthma_UKF=Asthma_UK[Asthma_UK["Sex"]=="female"]

In [168]:
Asthma_UKF.Deaths1.sum()

59634

In [169]:
Asthma_ARGF=Asthma_ARG[Asthma_ARG["Sex"]=="female"]

In [170]:
Asthma_ARGF.Deaths1.sum()

8874

In [171]:
Asthma_ARGM=Asthma_ARG[Asthma_ARG["Sex"]=="male"]

In [172]:
Asthma_ARGM.Deaths1.sum()

13782

In [173]:
Asthma_BRF=Asthma_BR[Asthma_BR["Sex"]=="female"]

In [174]:
Asthma_BRF.Deaths1.sum()

68579

In [175]:
Asthma_BRM=Asthma_BR[Asthma_BR["Sex"]=="male"]

In [176]:
Asthma_BRM.Deaths1.sum()

81991

In [177]:
Asthma_ISRF=Asthma_ISR[Asthma_ISR["Sex"]=="female"]

In [178]:
Asthma_ISRF.Deaths1.sum()

1907

In [179]:
Asthma_ISRM=Asthma_ISR[Asthma_ISR["Sex"]=="male"]

In [180]:
Asthma_ISRM.Deaths1.sum()

2606

In [181]:
Asthma_JPNF=Asthma_JPN[Asthma_JPN["Sex"]=="female"]

In [182]:
Asthma_JPNF.Deaths1.sum()

5963

In [183]:
Asthma_JPNM=Asthma_JPN[Asthma_JPN["Sex"]=="male"]

In [184]:
Asthma_JPNM.Deaths1.sum()

31661